doctype
html
  head
    meta(charset='UTF-8')
    title #{ title } | CSC 365
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')
    link(href='base.css', rel='stylesheet', type='text/css')

    body
      block content