doctype
html
  head
    meta(charset='UTF-8')
    block css
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Libre+Baskerville')
      link(rel='stylesheet', href='https://unpkg.com/turretcss/dist/turretcss.min.css', crossorigin='anonymous')
      link(href='/css/base.css', rel='stylesheet', type='text/css')
    body
      block content