extends base

block content
  div(class='flex row' style={overflow: 'hidden'})
    div(style={ flex: '1 1 30%', padding: '2rem' })
      div
        h5 Home / Business and Consumers / Bill HB-108
        h1(class='huge') #{ billNum }
        hr(style={ width: '', height: '2px'})
      div(style={ flex: '1 1 65%'})
        div(class='flex column')
          div(style={ flex: '1 1 50%'}) 
            h3 Overview
            div(style={margin: 'auto 2rem auto 2rem'})
              i(id="bill-summary") Designates May as "Mental Health Awareness Month" and July as "Minority Mental Health Awareness Month in Missouri"
            div(style={'padding-left': '0.5rem'})
              div
                h5 Committee
                p Ways and Means
                h5 Introduced By
                p Chrissy Sommer
          div(style={ flex: '1 1 50%'}) 
            h3 Status
            p stuff here
    div(style={ flex: '1 1 70%' })
      embed(src='https://house.mo.gov/billtracking/bills191/hlrbillspdf/0259H.01P.pdf', type='application/pdf' style={ width: '100%', height: '100%'}, frameborder='0')

