extends base

block content
  div(class='flex row' style={overflow: 'hidden', height : '100%', 'background-color' : '#eeeee4'})
    div(class="flex column" id="bill-hero-container")
      h5(class="navcrumbs") Home / Business and Consumers / #{ billData.num }
      div(style={'margin' : 'auto 0 auto'})
        h1(class='huge' style={'line-height' : '100%'}) #{ billData.num }
        i Authored by #{ billData.author } (Republican - 106)
    div(class="flex column" id="bill-info-container")
      div(id="bill-overview") 
        h3 
          | Overview & Status
        div
          //- p Designates May as "Mental Health Awareness Month" and July as "Minority Mental Health Awareness Month in Missouri"
      div(id="bill-more")
        h3 More
        p Tweet about this bill

    div(style={ flex: '1 1 33.3333%'})
      embed(src='https://house.mo.gov/billtracking/bills191/hlrbillspdf/0259H.01P.pdf', type='application/pdf' style={ width: '100%', height: '100%'}, frameborder='0')

