extends base

block content
  div(class='flex' style={height : '100%'})
    div(class='centered')
      h1(class="decent") Lawbary
      button(class='button button-primary', style={width : '100%'}) Login
