extends base

block content
  div(class='flex' style={height : '100%'})
    div(class='centered')
      h1 AppName
      button(class='button button-primary', style={width : '100%'}) Login w/ Twitter
