extends base

block content
  div(class='flex' style={height : '100%'})
    div(class='centered')
      div(class='flex')
        img(class="logo-image", src='/images/building.svg')
        h1(class="decent") Lawbary
        img(class="logo-image", src='/images/gavel_books.svg')
      a(class='button button-primary', style={width : '100%'}, href="/login") Login