extends base

block content
  div(class='flex column' id="legislation-container")
    div(class='flex column' style={ flex: '1 1 30%', padding: '0 2rem 0 1rem' })
      h5(class='navcrumbs') 
        a(href="/") Home
        span  | 
        | Legislation
      h1(class='decent') Discover Legislation
    div(class='flex column' style={ flex: '1 1 70%', padding: '0 1rem'})
      each billCat in billCategories
        div(class='flex', style={'margin-top' : '0.5rem'})
          div(class='bill-category' style={'background-color' : billCat.color}) 
            h3= billCat.name
          each bill in billCat.bills
            div(class='flex column bill-card')
              h3= bill.node.identifier
              hr
              p= bill.node.title
              button(class='centered') View
      div(class='flex', style={'margin-top' : '0.5rem'})
        div(class='bill-category' id='static-bill-category') 
          h3 Other
        div(class='flex column bill-card')
          h3 HB-244
          hr
          p Stops global warming.
        div(class='flex column bill-card')
          h3 HB-424
          hr
          p Does the thing.
        div(class='flex column bill-card')
          h3 HB-666
          hr
          p Authorizes destruction of the universe.
