* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: Inter;
	src:
		url('Inter.var.woff2') format('woff2'),
}

html, body {
  font-family: "Inter", sans-serif;
  background-color: #2b2b2b;
  color: #fff;
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
}

p, a {
  margin: 0;
}

hr {
  margin: 0rem 0 0.5rem 0;
  height: 4px;
  background-color: #2b2b2b;
}

/**************** CUSTOM ELEMENTS *****************/
.navcrumbs
{
  color: #6369D1;
}

.bill-card {
  max-width: 400px; 
  margin: 0 0.25rem 0 0.25rem;
  background-color: #d0d1ac;
  color: #2b2b2b;
  padding: 1rem;
  border-radius: 3px;
}

h1.huge {
  font-size: 4rem;
  margin: 0 0 1rem 0;
}

#bill-more {
  flex: 1 1 33%;
  background-color: #352e64; 
  padding: 1.25rem 0rem 1.25rem 1.25rem;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

#bill-status {
  background-color : #52489c;
  padding: 1.25rem 0rem 1.25rem 1.25rem;
}

#bill-overview {
  background-color : #6369D1;
  padding: 1.25rem 0rem 1.25rem 1.25rem;
}

#bill-summary {
  font-weight: normal;
  text-align: justify;
  word-break: keep-all;
}

.arrow {
  max-height: 32px;
}

.nav-arrow {
  text-align: center; 
  align-self: center; 
  text-decoration: none;
  transition: all ease-in-out 250ms;
}

.nav-arrow:hover {
  transform: translateY(-10px); 
}

/**************** CONTAINERS AND LAYOUT HELPERS *****************/
.flex {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  width: 100%;
}

.flex.row {
  flex-direction: row;
}

.flex.column {
  flex-direction: column;
}

.flex .centered{
  margin: auto;
}
